body{
    background-color: rgb(252, 226, 230);
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#canvas{
    background-color: rgb(237, 224, 224);
    display: block;
    margin: auto;
 
}

.points{
    r: 10px;
    fill:black;
    stroke-width: 4;
}

