/* body{
    background-color: white
}

h1{
    text-align: center;
}


#root{
    margin: auto;
    display: block;
}

#canvas{
    background-color: grey;
    display: block;
    margin: auto;
 
}

#buttons{
    display: block;
    margin: auto;
}

.points{
    r: 10px;
    fill:black;
    stroke-width: 4;
}


.segment{
    stroke:black;
    stroke-width: 4;
 }
 
 .highlight{
     stroke: green;
     stroke-width: 5;
 } */



 /* /////////////// */

 /* Set a consistent font family and size for the body */
body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    background-color: #F5F5F5; /* A light grey background */
  }
  
  /* Center the page title and use a larger font size */
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
  }

  h1,h2{

    text-decoration: none;
    border-bottom: 1px dotted #000;
  }
  
  /* Center the game board and add some padding */
  #root {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #D3D3D3; /* A light grey border */
    background-color: white; /* A white background for the game board */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* A subtle box shadow */
  }
  
  /* Style the game board canvas */
  .canvas {
    background-color: #F0F0F0; /* A slightly darker grey background */
    display: block;
    margin: 0 auto;
  }
  
  /* Center the game buttons and add some margin */
  #buttons {
    display: block;
    margin: 20px auto;
  }
  
  /* Style the game points */
  .points {
    r: 10px;
    fill: #2F4F4F; /* A dark grey color for the points */
    stroke-width: 1;
    cursor: pointer;
    position:absolute;
  }
  
  /* Style the game segments */
  .segment {
    stroke: #2F4F4F; /* A dark grey color for the segments */
    stroke-width: 4;
    z-index: -1;
    position: absolute;
  }
  
  /* Style the highlighted segment */
  .highlight {
    stroke: #2E8B57; /* A dark green color for the highlighted segment */
    stroke-width: 5;
    z-index: -1;
    position: absolute;
  }

  a{
    text-decoration: none;
  }
  