
/* Set the font and background color for the body */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #f1f1f1; /* A light grey background */
}

/* Style the page title */
h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
  color: #333; /* Dark grey text color */
  text-shadow: 1px 1px 1px #ccc; /* A subtle text shadow */
}

/* Style the section headings */
h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  color: #555; /* Medium grey text color */
  text-shadow: 1px 1px 1px #eee; /* A subtle text shadow */
}

/* Center the game board and add some padding */
#root {
  margin: 0 auto;
  max-width: 800px; /* Wider game board */
  padding: 40px;
  border: 2px solid #ccc; /* A darker grey border */
  background-color: #fff; /* A white background for the game board */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* A subtle box shadow */
}

/* Style the vertices (circles) */
.vertex {
  r: 12px; /* Slightly larger circles */
  stroke: #333; /* Dark grey stroke color */
  fill: #fff; /* White fill color */
  stroke-width: 3;
  transition: all 0.2s ease-in-out; /* Smooth hover effect */
  cursor: pointer;
  z-index: 10;
  
}

.vertex:hover {
  fill: rgb(200, 200, 255);
}

/* Style the edges (lines) */
.edge {
  stroke: #555; /* Medium grey stroke color */
  stroke-width: 2px;
  z-index: -10;
}

/* Style the muted edges */
.muted {
  stroke: #ccc; /* Light grey stroke color */
}

/* Style the highlighted edges */
.highlight {
  stroke: #f00; /* Red stroke color */
  stroke-width: 4px;
}

.canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}


/* Style the links */
a{
  color:rgb(179, 179, 239); /* Medium grey text color */
  text-decoration: none;
  transition: all 0.2s ease-in-out; /* Smooth hover effect */
 
}

a:hover {
  color: #f00; /* Red text color on hover */
}

 /* Center the game buttons and add some margin */
 #buttons {
  display: block;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  
}