

/* 800px body with different color for background and adaptable screen*/
body>main{
    margin-top: 105px;
    width: 800px;
    background-color: white;
  }
  
  @media (min-width: 800px) {
    body{
      margin: auto;
      background-color: rgb(134, 130, 134);
    }
    body>main{
      margin-top: 105px;
      width: 800px;
      background-color: white;
      margin-left: 100px;
      margin-right: 100px;
    }
    body>header{
      background-color: white;
    }
  }


 /* fixing the header to a fixed position*/ 
 header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:fit-content;
  }

  main {
    padding-top: 80px;
  }

   /* centering head titles*/ 
   header>h1{
    height: 100px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    }
    
   /* The three navigation bar elements must have equal widths, and 
   the text within each navigation bar element should be centered*/    
   
    header>nav>ul>li {
        display: inline-block;
        width: 30%; /* 100% / 3 items */
        text-align: center; /* Center the text within each list item */
        padding: 0;
        text-decoration: none;
        border-radius:15px;
        background-color: lightgray;
    }

    header>nav>ul{
      margin-top: 0px;
      padding-top: 0px;
    }
    
    /*making links reactive*/
    a:hover {
        color: green;
    }

    a{
        display: block;
        padding: 10px;
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    header>nav>ul>li  a:visited {
        text-decoration-color: green;
    }


     /*projects side by side*/
     iframe{
      height: 100%;
    }
     .project {
        display: flex;
      }
      .project article {
        width: 50%;
      }
      .project aside{
        width: 50%;
        padding: 0 10px;
      }

     
 





